body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* nav related style  */
.text-primary {
    color: #E55473;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.image-size {
    width: 400px;
    height: 800px;
    padding: 20px;
}

.header-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 70px;



}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: #272727;
}

.banner-discription {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;
    width: 50%;
}

.banner-container {
    margin-left: 20px;
    padding-left: 40px;
    max-width: 500px;
}

.flowers {
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px
}

.flower-1 {
    padding: 40px;
    width: 200px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-2 {
    padding: 40px;
    width: 200px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.flower-3 {
    padding: 40px;
    width: 200px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.charm-1 {
    width: 160px;
}

.charm-2 {
    width: 200px;
}

.charm-3 {
    width: 160px;
}

.featured-flower {
    text-align: center;
    padding: 40px;
    color: #272727;


    font-size: 40px;

    font-weight: 800;

}

.flower-discription {
    width: 35%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;

}

.flower-title {
    font-size: small;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.flower-title-1 {
    font-size: small;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 60px;
}

.flower-title-2 {
    font-size: small;
    padding-bottom: 15px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.container {
    background: #FFF;
}

.discount-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 230, 230);
    padding: 70px;

}

.discount-discription {
    width: 500px;
}

.discount-title {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;

}

.discount-heading {
    color: #272727;

    font-size: 35px;

    font-weight: 800;

}

.icon {
    width: 220px;
    margin-bottom: 20px;
}

.flower-boxs {


    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px;
}

.insta-container {
    text-align: center;
}

.insta-title {
    color: #272727;


    font-size: 40px;

    font-weight: 800;

}

.insta-discription {
    color: rgba(39, 39, 39, 0.60);
    width: 40%;
    margin: auto;

    font-size: 18px;

    font-weight: 400;

}

.deals-section {
    width: 70%;
    height: 150px;
    margin: auto;
    background-color: whitesmoke;
    background-image: url('./Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px;
}

.deal-title {
    color: #272727;


    font-size: 40px;

    font-weight: 800;

}

.deal-discription {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;

    font-weight: 400;

}
.size{
    width: 250px;
height: 20px;

}